.pic,.pose,.plz {
    height:450px;
    width: 300px;
    margin-left: 6.5cm;
    border-radius: 20%;
    border-style: ridge;
    border-color: white;
    border-width: 5px;
    

}

body {
    font-family: 'Kaushan Script', cursive;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
h1,h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xxx-large;
    margin-top: 0px;
    text-decoration: underline;
}
ul{
    text-align: center;
    list-style-position: inside;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    background-blend-mode: lighten

    ;
}
h3{
    font-size: 30px;
    text-align: center;
}
.mi{
   float: right;
   font-size: xx-large;
}
.star {
    float:right;
    height: 150px;

}
h3{
    color: rgb(255, 255, 255);
    font-size: x-large;
    
}
form{
    color: rgb(255, 255, 255);
    font-size: xx-large;
}