.pic,.pose,.plz {
    height:450px;
    width: 300px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20%;
    border-style: ridge;
    border-color: white;
    border-width: 5px;
    max-width: 20vw;
    height: auto;
    justify-content: center;


}

body {
    font-family: 'Kaushan Script', cursive;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
   
}
h1,#lik{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xxx-large;
    margin-top: 0px;
    text-decoration: underline;
    margin-left: 310px
}
ul{
    text-align: center;
    list-style-position: inside;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    background: linear-gradient(25deg, pink, rgb(255, 0, 255), purple);
    width: 900px;
    position: relative;
    margin-left: 13cm;
    margin-bottom: 5cm;

}
h3{
    
    text-align: center;
    margin-right: 75px;
    color: rgb(255, 255, 255);
    font-size: x-large;
}
.mi{
   float: right;
   font-size: xx-large;
}
.star {
    float:right;
    height: 150px;
}
form{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-left: 22cm;
    background-color: transparent;
}
html {
    background-image: url(https://media1.tenor.com/images/7f0e3f7fa9cfb3bcb544fbee37d38bba/tenor.gif?itemid=16409533);
}
@media (max-width: 300px) and (max-height: 300px){
#container{
width: 600px;


}
}
#kik{
    text-align: center;
    color: white;
    font-size: 55px;
}
#sub{
    color: black;

}
